@font-face {
    font-family: 'Mona Sans';
    src:
      url('../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('../fonts/Hubot-Sans/HubotSans/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('../fonts/Hubot-Sans/HubotSans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  

.about{
  font-size: x-large;
    color: aliceblue;
    position: absolute;
    background-color:transparent;
    top: 100vh;
    margin: 0;
    padding: 0 ;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
}

.about p {
  font-size: medium;
  text-align: center;
  padding: 40px;
  margin-left: 20%;
  margin-right:20% ;
  line-height: 1.5;
  
}

.mars_img{
  position: absolute;
  transform: rotate(-15deg);
  top: 100px; 
  left: 50px; 
  width: 150px; 
  height: 200px; 
  background: radial-gradient(circle at center, transparent, black);
  opacity: 0.9;
}


@keyframes slide{

  0%{
    transform: translateX(0%);
    transition: 3s ease-in-out;
  }
  100%{
    transition: 3s ease-in;
    transform: translate(-100%);

  }
}

.logos{
  top: 10%;
  overflow: hidden;
  padding: 60px 0;
  background-color: rgb(255, 255, 255,0);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after{
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  content: "";
  z-index: 2;
}


.logos:before {
  left: 0; 
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.logos:after{
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

.logo_slide{
  display: inline-block;
  animation: 30s slide infinite linear;
}


.logo_slide img{
  height: 60px;
  margin: 0 25px;
}






















@media (max-width:896px) {
  .about{
    font-size: medium;
      color: aliceblue;
      position: absolute;
      background-color:transparent;
      top: 100vh;
      margin: 0;
      padding: 0 ;
      width: 100%;
      height: 100vh;
      text-align: center;
      font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
  }

  .mars_img{
    position: absolute;
    transform: rotate(-15deg);
    top: -10%; 
    left: 50px; 
    width: 70px; 
    height: 90px; 
    background: radial-gradient(circle at center, transparent, black);
    opacity: 0.9;
    z-index: 0;
  }
  
  .about p {
    font-size: small;
    text-align: left;
    padding: 0px;
    margin-left: 20%;
    margin-right:20% ;
    line-height: 1.5;
  }
 

  .logos:before,
  .logos:after{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  content: "";
  z-index: 2;
}

  .logos{
    top: 2%;
    overflow: hidden;
    padding: 60px 0;
    background-color: rgb(255, 255, 255,0);
    white-space: nowrap;
    position: relative;
  }

  .logo_slide{
    display: inline-block;
    animation: 30s slide infinite linear;
  }
  
  .logos:before {
    left: 0; 
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  }
  
  .logos:after{
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  }
}


@media (min-width:2560px){
  .about p {
    font-size: large;
    text-align: left;
    padding: 0px;
    margin-left: 25%;
    margin-right:25% ;
    line-height: 2;
  }

  .about {
    height: 50vh;
  }

}