.backdrop {
    position: relative;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

.gradient-overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 10%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
    

.gradient-overlay2 {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1.5) 90%
    );
}


.gradient-overlay3 {
    position: absolute;
    top: 200vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 10%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
    

.gradient-overlay4 {
    position: absolute;
    top: 300vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1.5) 90%
    );
}

.gradient-overlay5 {
    position: absolute;
    top: 400vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 1.5) 100%
    );
}

.backdrop_cover_img1 {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://4kwallpapers.com/images/wallpapers/among-us-minimal-colorful-space-5k-8k-amoled-3840x2160-4081.png');
    background-size: cover;
    background-position: center;
}

.backdrop_cover_img2 {
    z-index: -1;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/656/original/minimal-stars-motion-loop-background-for-project-overlay-free-video.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}


.backdrop_cover_img3 {
    z-index: -1;
    top: 200vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/656/original/minimal-stars-motion-loop-background-for-project-overlay-free-video.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}


.backdrop_cover_img4 {
    z-index: -1;
    top: 300vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/656/original/minimal-stars-motion-loop-background-for-project-overlay-free-video.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.backdrop_cover_img5 {
    z-index: -1;
    top: 400vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/656/original/minimal-stars-motion-loop-background-for-project-overlay-free-video.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

 
.notification {
    z-index: 1;
    position: absolute;
    margin-top: 7.5%;
    width: 100%;
    height: 3vh;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(210, 12, 12, 0.1);
    align-items: center;
    cursor: default;
    font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
  }
  
  .close {
    color: #000;
    float: right;
    padding-right:8% ;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
  }
  
  .close:hover {
    color: #888;
  }
  
