@font-face {
    font-family: 'Mona Sans';
    src:
      url('../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('../fonts/Hubot-Sans/HubotSans/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('../fonts/Hubot-Sans/HubotSans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  .projects-container {
    background: 
      linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 1.5) 100%
      ),
      url('https://static.vecteezy.com/system/resources/thumbnails/002/016/656/original/minimal-stars-motion-loop-background-for-project-overlay-free-video.jpg')
      repeat center center / contain , #000; 
  }
  
  .footer {
    position: sticky;
    bottom: 0; /* Stick to bottom of container */
  }

.contact{
  background: 
      linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 1.5) 100%
      ),
      url('https://static.vecteezy.com/system/resources/thumbnails/002/016/656/original/minimal-stars-motion-loop-background-for-project-overlay-free-video.jpg')
      repeat center center / contain , #000; 
  background-size: 100% 100vh;
  font-size: x-large;
  overflow: hidden;
    color: aliceblue;
    position:relative;
    background-color:transparent;
    margin-top: 8%;
    margin: 15 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    
}

.contact-3-cards {
  
  top: 500vh; 
}

.contact-6-cards {
  top: 550vh; 
}

.contact-9-cards {
  top: 600vhs;
}


.footer h4{
  font-size: medium;
    color: aliceblue;
    position:relative;
    background-color:transparent;
    margin-top: 5%;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    font-weight: 400;
  
}

.info{
  position: relative;
  top: 10%;
  left: 10%;
  text-align: left;

.info_head{
  color: #F11A7B;
  font-size: 28px;
  font-weight: 600;
  text-decoration: double;
}

}
.h2_info{
  color: #ff5c5c;
  font-size: 58px;
}

.p_info{
  color:#E0F4FF;
font-size: 20px;
line-height: 2;
}



.container{
  position: relative;
  margin-top: -15%;
  left: 20%;
}

/* Form container */
.contactForm {
  max-width: 30%;
  padding: 0 0 ;
  margin: 0 auto;
}

/* Form input styles */
.form-control {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid #eceff133;
  border-radius: 15px;
  color: aliceblue;
  font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    font-weight: 500;
    font-size: 18px;
}

.form-control::placeholder {
  color: #FCFCFC;
}

.errorMessage {
  color: #ff5c5c;
  font-size: 18 px;
  font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    font-weight: 00;
    
}

.submit-btn {
  
  width: 30%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #95389E;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    font-weight: 600;
    font-size: 18px;
}

.submit-btn:hover {
  background-color: #fff;
  font-weight: 700;
  color: #F40968;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.alert p {
  background: #252525;
  color: #16FF00;
  height: 3%;
  width: 20%;
  padding: 1% 3% 1.5% 3%;;
  border-radius: 5px;
}

.submit-close{
  z-index: 1;
  color: #fff;
  position: relative;
  left: 25%;
  font-size: 30PX;
  cursor: pointer;

}

.submit-close:hover{
  color: #888;
}