@font-face {
    font-family: 'Mona Sans';
    src:
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }



.projects{
  font-size: x-large;
    color: aliceblue;
    position:absolute;
    background-color:transparent;
    top: 300vh;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    
} 

.tabs{
  position: relative;
}

.bloc_tabs{
  position: relative;
  display: flex;
  width: 25%;
  height: 5%;
  margin-left: 37%;
  background-color: #FCF5ED;
  backdrop-filter: blur(5px);
  color: #EEEEEE;
  text-align: center;
  justify-content: space-between;
  padding: 1% 1%;
  border-radius: 15px;
  border: none;
}

.tabs-button{
  font-weight: 600;
  background-color: #4f4f4f;
  padding: 5px 8px;
  transition: transform 0.08s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.tabs-button:hover{
  transform: scale(1) translateY(-3px);
  color: aliceblue;
}


.active-tab{
  font-weight: 600;
  background-color:#F94C10;
  padding: 5px 8px;
  
}

.card_img{
  height: 12rem;
  width: 100%;
  object-fit:contain;
  margin-top: 25px ;
}

.card_title{
  font-size: 25px;
  padding: 1rem;
  color: #ECF9FF;
}

.card_title:hover{
  color:#F94C10;
}

.card_description{
  font-size: large;
  padding: 0 1rem;
}

.card_buttons{
  position: absolute;
  bottom: 10px;
}

.card_results_button, .card_code_button {
  background-color: #1C1427; 
  color: #EEEEEE;
  border: none; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 6px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border-radius: 10px; 
}

.card_results_button:hover, .card_code_button:hover {
  background-color: #7a7a7a;
  color: #EEEEEE;
}

.card_code_button img,
.card_results_button img {
  vertical-align: middle;
  margin-left: 10px; 
}



.cards_heading_gradient{
 color: #F94C10;
  
}

.card_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1% 5% ;
  gap:3rem;
  justify-content: center;
}

.card{
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(255,255,255,0.2), 
            0 0 3px rgba(255,255,255,0.1), 
            0 0 4px rgba(255,255,255,0.1), 
            0 0 5px rgba(255,255,255,0.1);
  background: transparent;
  backdrop-filter: blur(3px);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 100ms ease-in;
  padding-bottom: 15%;
}


.card:hover{
  transform: scale(1.01);
}

.card:hover .card_view_code_btn{
  background:#d50000;
    color: azure;
} 

.load_btn{
  position: relative;
  align-items: center;
  justify-content: center;
  left: 110%;
  background-color: rgb(0, 102, 255); /* dark background */
  color: #FFFBF5; /* white text */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 6px 16px;
  cursor: pointer;
  transition: background-color 0.1s ease; 
  border-radius: 15px; 
}

.load_btn:hover{
  background-color: aliceblue;
  color: #54B435;

}

.try_btn{
  position: relative;
  align-items: center;
  justify-content: center;
  left: 0;
  background-color: #54B435; /* dark background */
  color: #FFFBF5; /* white text */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 6px 16px;
  cursor: pointer;
  transition: background-color 0.1s ease; 
  border-radius: 15px; 
}

.try_btn:hover{
  background-color: #54B435;
  color:#ECF9FF;

}


@media (max-width:896px) {
  .projects{
    font-size: x-large;
      color: aliceblue;
      position:absolute;
      background-color:transparent;
      top: 360vh;
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100%;
      text-align: center;
      font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
      
  }

  .bloc_tabs{
    position: relative;
    display: flex;
    width: 80%;
    height: 5%;
    margin-left: 10%;
    background-color: #FCF5ED;
    backdrop-filter: blur(5px);
    color: #EEEEEE;
    text-align: center;
    justify-content: space-between;
    padding: 1% 1%;
    border-radius: 15px;
    border: none;
    font-size: medium
  }
  
  .card_layout {
    display: flex;
    flex-direction: column;
    padding: 1% 5% ;
    gap:3rem;
    justify-content: center;
  }

  .card{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(255,255,255,0.2), 
              0 0 3px rgba(255,255,255,0.1), 
              0 0 4px rgba(255,255,255,0.1), 
              0 0 5px rgba(255,255,255,0.1);
    background: transparent;
    backdrop-filter: blur(1px);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 100ms ease-in;
    padding-bottom: 35%;
  }

  .card:hover{
    transform: scale(1);
  }

  .load_btn{
    position: relative;
    align-items: center;
    justify-content: center;
    left: 0%;
    background-color: rgb(0, 102, 255); /* dark background */
    color: #FFFBF5; /* white text */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 6px 16px;
    cursor: pointer;
    transition: background-color 0.1s ease; 
    border-radius: 15px; 
  }
  


  
}