@font-face {
    font-family: 'Mona Sans';
    src:
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../../fonts/MonaSans/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }



.projects{
  font-size: x-large;
    color: aliceblue;
    position:absolute;
    background-color:transparent;
    top: 300vh;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: 'Mona Sans','Hubot Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    
} 

.tabs{
  position: relative;
}

.bloc_tabs{
  position: relative;
  display: flex;
  width: 25%;
  height: 5%;
  left: 37%;
  background-color: #2b2b2b;
  backdrop-filter: blur(5px);
  color: black;
  text-align: center;
  justify-content: space-between;
  padding: 1% 1%;
  border-radius: 15px;
  border: none;
}

.tabs-button{
  font-weight: 600;
  background-color: #95389E;
  padding: 5px 8px;
  transition: transform 0.08s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.tabs-button:hover{
  transform: scale(1) translateY(-3px);
  color: aliceblue;
}


.active-tab{
  font-weight: 600;
  background-color:coral;
  padding: 5px 8px;
}

.card_img{
  height: 12rem;
  width: 100%;
  object-fit:contain;
}

.card_title{
  font-size: xx-large;
  padding: 1rem;
  color: #ECF9FF;
}

.card_title:hover{
  color:#d50000;
}

.card_description{
  font-size: large;
  padding: 0 1rem;
}

.buttons{
  position: absolute;
  bottom: 10px;
}
.card_results_button, .card_code_button {
  background-color: transparent; /* dark background */
  color: #FFFBF5; /* white text */
  border: 2px solid #d50000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 6px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border-radius: 15px; 
}

.card_results_button:hover, .card_code_button:hover {
  background-color: #fff;
  color: #d50000;
}

.card_code_button img,
.card_results_button img {
  vertical-align: middle;
  margin-left: 10px; 
}



.cards_heading_gradient{
  background: -webkit-linear-gradient(0deg, #4ae2a8 0%, #48abe0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1% 5% ;
  gap:3rem;
  justify-content: center;
}

.card{
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(255,255,255,0.3), 
               0 2px 2px rgba(255,255,255,0.2), 
               0 3px 3px rgba(255,255,255,0.1), 
               0 4px 4px rgba(255,255,255,0.1), 
               0 5px 5px rgba(255,255,255,0.1);

  background: transparent;
  backdrop-filter: blur(3px);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 100ms ease-in;
  padding-bottom: 15%;
}


.card:hover{
  transform: scale(1.02);
}

.card:hover .card_view_code_btn{
  background:#d50000;
    color: azure;
}